[Unit]
Description=Start sbd
After=syslog.target network.target
[Service]
User=root
Environment=PATH='/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin'
Type=forking
ExecStart=/bin/sh -c '/usr/sbin/sbd start >> /var/log/sbd.log 2>&1'
ExecStop=/bin/sh -c '/usr/sbin/sbd stop >> /var/log/sbd.log 2>&1'
ExecReload=/bin/sh -c '/usr/sbin/sbd restart  >> /var/log/sbd.log 2>&1'
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
